.body {
  color: black;
  background-color: wheat;
  height: 100%;
  text-align: center;

}

.App {
  color: #eee1b3;
  text-align: center;
  background-color:black;
}
.Head {
  color: black;
  text-align: center;
}
.header {
  border-bottom-right-radius: 20px;
}
.btn {
  background-color: #593018;
  color: wheat;
}
.btn:hover {
  color: wheat;
  font-weight: bold;
  
}
.active {
  background-color: wheat;
  color: #593018;
  border-bottom: none;
  
}
.active:focus {
  border-bottom: none;
  box-shadow: none;
  text-align: center;

}
.active:hover {
  color: black;
}
a {
  color: wheat;
  text-align: center;

}
a:hover {
  color: wheat;
  font-weight: bold;
}
