.body {
  color: navy;
  background-color: wheat;
  height: 100%;
}
.devicon {
  font-size: 5rem;
  background-color: #3a1805;
  color: lightseagreen;
}
@keyframes rainbow {
  0% {
    color: lightseagreen;
  }
  15% {
    color: tomato;
  }
  30% {
    color: magenta;
  }
  45% {
    color: deepskyblue;
  }
  60% {
    color: crimson;
  }
  75% {
    color: chartreuse;
  }
  90% {
    color: fuchsia;
  }
  100% {
    color: lightseagreen;
  }
}
* {
  font-family: "Times New Roman", Times, serif;
}
.devicon:hover {
  font-size: 5rem;
  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
}
.App {
  color: #eee1b3;
  text-align: center;
  background-color:black;
}
.Head {
  color: black
}
.header {
  border-bottom-right-radius: 10px;
}
.btn {
  background-color: #3a1805;
  color: wheat;
}
.btn:hover {
  color: white;
  font-weight: bold;
}
.active {
  background-color: wheat;
  color: #3a1805;
  border-bottom: none;
}
.active:focus {
  border-bottom: none;
  box-shadow: none;
}
.active:hover {
  color: black;
}
a {
  color: wheat;
}
a:hover {
  color: wheat;
  font-weight: bold;
}
